@page "/counter"
@inject IToastService toastService

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
        toastService.ShowInfo($"I'm an INFO message {currentCount}");
    }
}
